
{% extends "base.html" %} 

{% block head %}
<title>{% block title %}Unauthorized{% endblock title %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/401.css')}}" />
{% endblock head %} 

{% block body %} 
{% block content %}
<div class="container">
  <div class="lock-icon">
    <div class="lock-body"></div>
    <div class="lock-shackle"></div>
  </div>
  <h1>401</h1>
  <h2>Unauthorized</h2>
  <p>Oops! You don't have permission to access this page.</p>
  <button id="go-back-btn">Go Back</button>
</div>

{% endblock content %}
<script src="{{ url_for('static', filename='js/error_pages_all.js')}}"></script>
{% endblock body %}
