* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body,
html {
  height: 100%;
  overflow: hidden;
  background-color: #1b1b1b;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.glitch {
  position: relative;
  text-align: center;
  color: white;
}

h1 {
  font-size: 8rem;
  color: #ff0033;
  animation: glitch-animation 2s infinite;
  position: relative;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff0033;
  animation: glitch-animation 3s infinite;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.75rem 2rem;
  background-color: #ff0033;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e60029;
}

@keyframes glitch-animation {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5px, 5px);
  }
  20% {
    transform: translate(5px, -5px);
  }
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  60% {
    transform: translate(5px, -5px);
  }
  70% {
    transform: translate(-5px, -5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  90% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
  }
}
