* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

body,
html {
  height: 100%;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.container {
  text-align: center;
  padding: 15px;
  width: 93%;
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 5rem;
  color: #e74c3c;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ecf0f1;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.timer span {
  font-size: 3rem;
  color: #f39c12;
  animation: pulse 1s infinite;
}

button {
  padding: 0.75rem 2rem;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }
}
