{% extends "report_.html" %}

{% block table_container %}
<div class="container mt-4">
    <div class="custom-card-header d-flex justify-content-between align-items-center mb-3">
        <h3>Click the plus button to edit Daily Reports</h3>
        <button class="add-btn" id="openModalBtn" data-bs-toggle="modal" data-bs-target="#editReportModal">
            +
        </button>
    </div>
</div>

<!-- Edit Daily Report Modal -->
<div class="modal fade" id="editReportModal" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h3 class="modal-title">Edit Daily Report</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST">
                {{ report_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="mb-3">
                        {{ report_form.report_title(class="form-control", placeholder="Enter Report Title",
                        value=daily_report.report_title) }}
                        {% for error in report_form.report_title.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ report_form.report_body(class="form-control", placeholder="Enter Report Details") }}
                        {% for error in report_form.report_body.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="{{ url_for('access_control.daily_report') }}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock table_container %}